<div class="bbc-header">
  <div class="bbc-header__container">
    <div class="bbc-header__brand">
      <a href="#" class="bbc-header__logo" data-lfr-editable-id="logoLink" data-lfr-editable-type="link">
        <span class="bbc-header__logo-text" data-lfr-editable-id="logoText" data-lfr-editable-type="text">BBC</span>
      </a>
    </div>
    <nav class="bbc-header__nav">
      <ul class="bbc-header__nav-list">
        <li><a href="#" data-lfr-editable-id="navItem1" data-lfr-editable-type="link" data-lfr-editable-id="navItem1Text" data-lfr-editable-type="text">News</a></li>
        <li><a href="#" data-lfr-editable-id="navItem2" data-lfr-editable-type="link" data-lfr-editable-id="navItem2Text" data-lfr-editable-type="text">Sport</a></li>
        <li><a href="#" data-lfr-editable-id="navItem3" data-lfr-editable-type="link" data-lfr-editable-id="navItem3Text" data-lfr-editable-type="text">Weather</a></li>
      </ul>
    </nav>
    <#if showSearch>
      <div class="bbc-header__search">
        <input type="search" placeholder="Search BBC" class="bbc-header__search-input">
        <button class="bbc-header__search-button" aria-label="Search">🔍</button>
      </div>
    </#if>
  </div>
</div>
