<nav class="bbc-navigation-menu bbc-navigation-menu--${layout!'horizontal'}">
  <div class="bbc-navigation-menu__container">
    <div class="bbc-navigation-menu__header">
      <h2 class="bbc-navigation-menu__title" data-lfr-editable-id="menuTitle" data-lfr-editable-type="text">Navigation</h2>
      <button class="bbc-navigation-menu__toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <ul class="bbc-navigation-menu__list">
      <li class="bbc-navigation-menu__item">
        <a href="#" class="bbc-navigation-menu__link" data-lfr-editable-id="menuItem1" data-lfr-editable-type="link">
          <#if showIcons>
            <span class="bbc-navigation-menu__icon">🏠</span>
          </#if>
          <span data-lfr-editable-id="menuItem1Text" data-lfr-editable-type="text">Home</span>
        </a>
      </li>
      <li class="bbc-navigation-menu__item">
        <a href="#" class="bbc-navigation-menu__link" data-lfr-editable-id="menuItem2" data-lfr-editable-type="link">
          <#if showIcons>
            <span class="bbc-navigation-menu__icon">📰</span>
          </#if>
          <span data-lfr-editable-id="menuItem2Text" data-lfr-editable-type="text">News</span>
        </a>
      </li>
      <li class="bbc-navigation-menu__item">
        <a href="#" class="bbc-navigation-menu__link" data-lfr-editable-id="menuItem3" data-lfr-editable-type="link">
          <#if showIcons>
            <span class="bbc-navigation-menu__icon">⚽</span>
          </#if>
          <span data-lfr-editable-id="menuItem3Text" data-lfr-editable-type="text">Sport</span>
        </a>
      </li>
      <li class="bbc-navigation-menu__item">
        <a href="#" class="bbc-navigation-menu__link" data-lfr-editable-id="menuItem4" data-lfr-editable-type="link">
          <#if showIcons>
            <span class="bbc-navigation-menu__icon">🌍</span>
          </#if>
          <span data-lfr-editable-id="menuItem4Text" data-lfr-editable-type="text">World</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
