<footer class="bbc-footer" role="contentinfo">
  <div class="bbc-footer__container">
    <div class="bbc-footer__content">
      <div class="bbc-footer__brand">
        <div class="bbc-footer__logo">
          <span data-lfr-editable-id="footerLogo" data-lfr-editable-type="text">BBC</span>
        </div>
      </div>
      <nav class="bbc-footer__nav">
        <div class="bbc-footer__section">
          <h3 data-lfr-editable-id="footerSection1Title" data-lfr-editable-type="text">News</h3>
          <ul>
            <li><a href="#" data-lfr-editable-id="footerLink1" data-lfr-editable-type="link" data-lfr-editable-id="footerLink1Text" data-lfr-editable-type="text">Home</a></li>
            <li><a href="#" data-lfr-editable-id="footerLink2" data-lfr-editable-type="link" data-lfr-editable-id="footerLink2Text" data-lfr-editable-type="text">UK</a></li>
          </ul>
        </div>
        <div class="bbc-footer__section">
          <h3 data-lfr-editable-id="footerSection2Title" data-lfr-editable-type="text">Sport</h3>
          <ul>
            <li><a href="#" data-lfr-editable-id="footerLink3" data-lfr-editable-type="link" data-lfr-editable-id="footerLink3Text" data-lfr-editable-type="text">Football</a></li>
            <li><a href="#" data-lfr-editable-id="footerLink4" data-lfr-editable-type="link" data-lfr-editable-id="footerLink4Text" data-lfr-editable-type="text">Tennis</a></li>
          </ul>
        </div>
      </nav>
      <#if showSocialLinks>
        <div class="bbc-footer__social">
          <h3>Follow BBC</h3>
          <div class="bbc-footer__social-links">
            <a href="#" aria-label="Facebook" data-lfr-editable-id="socialFacebook" data-lfr-editable-type="link">📘</a>
            <a href="#" aria-label="Twitter" data-lfr-editable-id="socialTwitter" data-lfr-editable-type="link">🐦</a>
            <a href="#" aria-label="Instagram" data-lfr-editable-id="socialInstagram" data-lfr-editable-type="link">📷</a>
          </div>
        </div>
      </#if>
    </div>
    <div class="bbc-footer__legal">
      <p data-lfr-editable-id="copyrightText" data-lfr-editable-type="text">© 2025 BBC. All rights reserved.</p>
      <nav class="bbc-footer__legal-nav">
        <a href="#" data-lfr-editable-id="legalLink1" data-lfr-editable-type="link" data-lfr-editable-id="legalLink1Text" data-lfr-editable-type="text">Terms of Use</a>
        <a href="#" data-lfr-editable-id="legalLink2" data-lfr-editable-type="link" data-lfr-editable-id="legalLink2Text" data-lfr-editable-type="text">Privacy</a>
      </nav>
    </div>
  </div>
</footer>
